@use '../styles/_colors.scss';
@use '../styles/_typo.scss';

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--dark-blue);
  height: 36px;
  width: 180px;
  border: none;
  outline: none;
  padding: 4px 16px;
  font-size: 0.875rem;
  color: var(--light-dark-gray);
  font-weight: typo.$light;
  box-shadow: colors.$shadow;
}

.viewport {
  padding: 8px;
  width: 180px;
}

.content {
  overflow: hidden;
  background-color: var(--dark-blue);
  border-radius: 4px;
  box-shadow: colors.$shadow;
}

.item {
  font-size: 0.875rem;
  color: var(--light-dark-gray);
  font-weight: typo.$light;
  cursor: pointer;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  outline: none;
  border: none;
}
