@use 'sass:color';
@use '../styles/_colors.scss';

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 20px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--light-dark-gray);
  background-color: var(--dark-blue);
  box-shadow: colors.$shadow;
  transition: 240ms;

  &:hover {
    filter: brightness(90%);
  }
}
